<!DOCTYPE html>
<html lang="fr">
<head>
	{{> partials/p-head}}
</head>
<body class="">

	<!--{{> partials/p-loader}}-->
	{{> partials/p-header}}

	<main class="container">

		{{> partials/p-aside}}

		<div class="page-home grid-col-2">

			{{> partials/p-ranking}}

			<div class="wrapper">
				{{> partials/p-map}}
				{{> partials/p-reviews}}
			</div>

		</div>
		{{> partials/p-new_articles}}
		{{> partials/p-job_offers}}
		{{> partials/p-join_us}}
		{{> partials/p-rank}}
	</main>
</body>
</html>