<!--Last job offers-->
<section class="sliceJobOffers background-purple">

    <div class="wrapper">
        
        <!--Slice Heading-->
        <header class="sliceHeading">
            <h2 class="sliceHeading-title">
                <i class="icon-circle"></i><strong>Dernières</strong> offres d'emploi déposées
            </h2>
            <p class="sliceHeading-subtitle">Actuellement 25 articles</p>
        </header>
        <!--./Slice Heading-->

        <!--Swiper slider-->
        <div class="sliceJobOffers-slider swiper-container no-swiper">
            <div class="swiper-wrapper">
                
                <!--Swiper slide-->
                <div class="sliceJobOffers-slide swiper-slide">
                    <p class="slide-tags"><i class="icon-location"></i> <span class="tag-city">Levalois</span> - <span class="tag-departement">(92)</span> - <span class="tag-contract">CDI</span></p>
                    <h3 class="slide-title">Intitulé du poste lorem (h/f)</h3>
                    <p class="slide-companyName">Société lorem</p>
                    <div class="slide-rating">
                        <div class="item-fiveStars">
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-empty icon-star"></i>
                        </div>
                        <span class="review color-blue">125 avis</span>
                    </div>
                </div>
                <div class="sliceJobOffers-slide swiper-slide">
                    <p class="slide-tags"><i class="icon-location"></i> <span class="tag-city">Levalois</span> - <span class="tag-departement">(92)</span> - <span class="tag-contract">CDI</span></p>
                    <h3 class="slide-title">Intitulé du poste lorem (h/f)</h3>
                    <p class="slide-companyName">Société lorem</p>
                    <div class="slide-rating">
                        <div class="item-fiveStars">
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-empty icon-star"></i>
                        </div>
                        <span class="review color-blue">125 avis</span>
                    </div>
                </div>
                <div class="sliceJobOffers-slide swiper-slide">
                    <p class="slide-tags"><i class="icon-location"></i> <span class="tag-city">Levalois</span> - <span class="tag-departement">(92)</span> - <span class="tag-contract">CDI</span></p>
                    <h3 class="slide-title">Intitulé du poste lorem (h/f)</h3>
                    <p class="slide-companyName">Société lorem</p>
                    <div class="slide-rating">
                        <div class="item-fiveStars">
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-empty icon-star"></i>
                        </div>
                        <span class="review color-blue">125 avis</span>
                    </div>
                </div>
                <div class="sliceJobOffers-slide swiper-slide">
                    <p class="slide-tags"><i class="icon-location"></i> <span class="tag-city">Levalois</span> - <span class="tag-departement">(92)</span> - <span class="tag-contract">CDI</span></p>
                    <h3 class="slide-title">Intitulé du poste lorem (h/f)</h3>
                    <p class="slide-companyName">Société lorem</p>
                    <div class="slide-rating">
                        <div class="item-fiveStars">
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-empty icon-star"></i>
                        </div>
                        <span class="review color-blue">125 avis</span>
                    </div>
                </div>
                <div class="sliceJobOffers-slide swiper-slide">
                    <p class="slide-tags"><i class="icon-location"></i> <span class="tag-city">Levalois</span> - <span class="tag-departement">(92)</span> - <span class="tag-contract">CDI</span></p>
                    <h3 class="slide-title">Intitulé du poste lorem (h/f)</h3>
                    <p class="slide-companyName">Société lorem</p>
                    <div class="slide-rating">
                        <div class="item-fiveStars">
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-empty icon-star"></i>
                        </div>
                        <span class="review color-blue">125 avis</span>
                    </div>
                </div>
                <div class="sliceJobOffers-slide swiper-slide">
                    <p class="slide-tags"><i class="icon-location"></i> <span class="tag-city">Levalois</span> - <span class="tag-departement">(92)</span> - <span class="tag-contract">CDI</span></p>
                    <h3 class="slide-title">Intitulé du poste lorem (h/f)</h3>
                    <p class="slide-companyName">Société lorem</p>
                    <div class="slide-rating">
                        <div class="item-fiveStars">
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-empty icon-star"></i>
                        </div>
                        <span class="review color-blue">125 avis</span>
                    </div>
                </div>
                <div class="sliceJobOffers-slide swiper-slide">
                    <p class="slide-tags"><i class="icon-location"></i> <span class="tag-city">Levalois</span> - <span class="tag-departement">(92)</span> - <span class="tag-contract">CDI</span></p>
                    <h3 class="slide-title">Intitulé du poste lorem (h/f)</h3>
                    <p class="slide-companyName">Société lorem</p>
                    <div class="slide-rating">
                        <div class="item-fiveStars">
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-yellow icon-star"></i>
                            <i class="star-empty icon-star"></i>
                        </div>
                        <span class="review color-blue">125 avis</span>
                    </div>
                </div>
                <!--./Swiper slide-->

            </div>

            <!--Swiper navigation-->
            <div class="sliceNewArticles-navigation btn-prev swiper-button-prev"></div>
            <div class="sliceNewArticles-navigation btn-next swiper-button-next"></div>
            <!--./Swiper navigation-->

        </div>
        <!--./Swiper slider-->

        <!--Slice btn more-->
        <div class="sliceBtnMore">
            <a class="btn btn-blue" href="jobDetails.html">Voir toutes les offres</a>
        </div>
        <!--./Slice btn more-->

    </div>

</section>
<!--./Last job offers-->
