<div id="loader" class="sliceLoader">
    <div class="sliceLoader-wrap">
        <div class="sliceLoader-bar"></div>
        <div class="sliceLoader-bar"></div>
        <div class="sliceLoader-bar"></div>
        <div class="sliceLoader-bar"></div>
        <div class="sliceLoader-bar"></div>
        <div class="sliceLoader-bar"></div>
    </div>
    <div class="sliceLoader-text">
        Chargement...
    </div>
</div>
