<!--Slice map-->
<div class="sliceMap map-France d3-map">

    <!--Slice heading-->
    <header class="sliceHeading no-subtitle">            
        <h2 class="sliceHeading-title">
            <i class="icon-circle"></i><strong>Trouvez</strong> {{datas.title.about}}
        </h2>
    </header>
    <!--./Slice heading-->

    <figure id="d3-mapFr" class="sliceMap-France d3-map-container">
    </figure>

</div>
<!--./Slice map-->