<!--Last articles slider-->
<section class="sliceNewArticles">

    <div class="wrapper">
        
        <!--Slice Heading-->
        <header class="sliceHeading">
            <h2 class="sliceHeading-title">
                <i class="icon-circle"></i><strong>Derniers</strong> articles parus
            </h2>
            <p class="sliceHeading-subtitle">Actuellement 25 articles</p>
        </header>
        <!--./Slice Heading-->

        <!--Swiper slider-->
        <div class="sliceNewArticles-slider swiper-container no-swiper">
            <div class="swiper-wrapper">
                
                <!--Swiper slide-->
                <article class="sliceNewArticles-slide swiper-slide">
                    <a href="" title="Titre de l'article">
                        <figure class="slide-illustration">
                            <img class="img-responsive" src="http://via.placeholder.com/240x135" alt="" width="240" height="135">
                            <figcaption class="slide-caption">
                                <div class="slide-publishDate">Publié le 27 avril 2017</div>
                                <h3 class="slide-title">Titre de l’article lorem ipsum sit dolor es encore du latin</h3>
                                <div class="slide-tags">
                                    <span class="tag-item">mot clé catégorie</span>
                                    <span class="tag-item">mot clé</span>
                                    <span class="tag-item">mot clé</span>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <!--./Swiper slide-->

                <!--Swiper slide-->
                <article class="sliceNewArticles-slide swiper-slide">
                    <a href="" title="Titre de l'article">
                        <figure class="slide-illustration">
                            <img class="img-responsive" src="http://via.placeholder.com/240x135" alt="" width="240" height="135">
                            <figcaption class="slide-caption">
                                <div class="slide-publishDate">Publié le 27 avril 2017</div>
                                <h3 class="slide-title">Titre de l’article lorem ipsum sit dolor es encore du latin</h3>
                                <div class="slide-tags">
                                    <span class="tag-item">mot clé catégorie</span>
                                    <span class="tag-item">mot clé</span>
                                    <span class="tag-item">mot clé</span>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <!--./Swiper slide-->

                <!--Swiper slide-->
                <article class="sliceNewArticles-slide swiper-slide">
                    <a href="" title="Titre de l'article">
                        <figure class="slide-illustration">
                            <img class="img-responsive" src="http://via.placeholder.com/240x135" alt="" width="240" height="135">
                            <figcaption class="slide-caption">
                                <div class="slide-publishDate">Publié le 27 avril 2017</div>
                                <h3 class="slide-title">Titre de l’article lorem ipsum sit dolor es encore du latin</h3>
                                <div class="slide-tags">
                                    <span class="tag-item">mot clé catégorie</span>
                                    <span class="tag-item">mot clé</span>
                                    <span class="tag-item">mot clé</span>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <!--./Swiper slide-->
                <!--Swiper slide-->
                <article class="sliceNewArticles-slide swiper-slide">
                    <a href="" title="Titre de l'article">
                        <figure class="slide-illustration">
                            <img class="img-responsive" src="http://via.placeholder.com/240x135" alt="" width="240" height="135">
                            <figcaption class="slide-caption">
                                <div class="slide-publishDate">Publié le 27 avril 2017</div>
                                <h3 class="slide-title">Titre de l’article lorem ipsum sit dolor es encore du latin</h3>
                                <div class="slide-tags">
                                    <span class="tag-item">mot clé catégorie</span>
                                    <span class="tag-item">mot clé</span>
                                    <span class="tag-item">mot clé</span>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <!--./Swiper slide-->
                <!--Swiper slide-->
                <article class="sliceNewArticles-slide swiper-slide">
                    <a href="" title="Titre de l'article">
                        <figure class="slide-illustration">
                            <img class="img-responsive" src="http://via.placeholder.com/240x135" alt="" width="240" height="135">
                            <figcaption class="slide-caption">
                                <div class="slide-publishDate">Publié le 27 avril 2017</div>
                                <h3 class="slide-title">Titre de l’article lorem ipsum sit dolor es encore du latin</h3>
                                <div class="slide-tags">
                                    <span class="tag-item">mot clé catégorie</span>
                                    <span class="tag-item">mot clé</span>
                                    <span class="tag-item">mot clé</span>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </article>
                <!--./Swiper slide-->

            </div>
            
            <!--Swiper navigation-->
            <div class="sliceNewArticles-navigation btn-prev swiper-button-prev"></div>
            <div class="sliceNewArticles-navigation btn-next swiper-button-next"></div>
            <!--./Swiper navigation-->

        </div>
        <!--./Swiper slider-->
        
        <!--Slice btn more-->
        <div class="sliceBtnMore">
            <a class="btn btn-blue" href="blog.html">Voir tous les articles</a>
        </div>
        <!--./Slice btn more-->

    </div>

</section> 
<!--./Last articles slider-->