<!--Slice ranking-->
<section class="sliceRanking">

    <!--Slice heading-->
    <header class="sliceHeading">            
        <h2 class="sliceHeading-title">
            <i class="icon-circle"></i><strong>Top</strong> 10 des meilleures agences
        </h2>
        <p class="sliceHeading-subtitle">Classement sur 254 agences</p>
    </header>
    <!--./Slice heading-->

    <nav class="sliceRanking-topTen">
        <ol>
            <li class="topTen-item">
                <a class="item-info" href="#">
                    <div class="info-position">1</div>
                    <div class="info-companyLogo">
                        <img src="http://via.placeholder.com/20x20" alt="" width="20" height="20">
                    </div>
                    <div class="info-companyDetails">
                        <div class="company-adress">
                            <p><strong>Cap Gemini Holding</strong></p>
                            <p><span>Levalois - Hauts de seine(92)</span> - Ile de France</p>
                        </div>
                        <p class="info-review"><span class="review color-blue">125 avis</span> - <span class="extract">"Très bonne agence, de plus elle est à votre écoute...</span></p>
                    </div>
                    <div class="item-fiveStars">
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-empty icon-star-empty"></i>
                    </div>
                    <div class="item-note">
                        <div class="note-btn background-turquoise">7,8</div>
                        <p class="note-gain color-green">+2</p>
                    </div>
                </a>
            </li>
            <li class="topTen-item">
                <a class="item-info" href="#">
                    <div class="info-position">2</div>
                    <div class="info-companyLogo">
                        <img src="http://via.placeholder.com/20x20" alt="" width="20" height="20">
                    </div>
                    <div class="info-companyDetails">
                        <div class="company-adress">
                            <p><strong>Agence ESN</strong></p>
                            <p><span>Levalois - Hauts de seine(92)</span> - Ile de France</p>
                        </div>
                        <p class="info-review"><span class="review color-blue">125 avis</span> - <span class="extract">"Très bonne agence, de plus elle est à votre écoute...</span></p>
                    </div>
                    <div class="item-fiveStars">
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-empty icon-star-empty"></i>
                    </div>
                    <div class="item-note">
                        <div class="note-btn background-green">7,1</div>
                        <p class="note-gain color-green">+1</p>
                    </div>
                </a>
            </li>
            <li class="topTen-item">
                <a class="item-info" href="#">
                    <div class="info-position">3</div>
                    <div class="info-companyLogo">
                        <img src="http://via.placeholder.com/20x20" alt="" width="20" height="20">
                    </div>
                    <div class="info-companyDetails">
                        <div class="company-adress">
                            <p><strong>Mon ESN</strong></p>
                            <p><span>Levalois - Hauts de seine(92)</span> - Ile de France</p>
                        </div>
                        <p class="info-review"><span class="review color-blue">125 avis</span> - <span class="extract">"Très bonne agence, de plus elle est à votre écoute...</span></p>
                    </div>
                    <div class="item-fiveStars">
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-empty icon-star-empty"></i>
                    </div>
                    <div class="item-note">
                        <div class="note-btn background-greyDarker">6,8</div>
                        <p class="note-gain color-red">-1</p>
                    </div>
                </a>
            </li>
            <li class="topTen-item">
                <a class="item-info" href="#">
                    <div class="info-position">4</div>
                    <div class="info-companyLogo">
                        <img src="http://via.placeholder.com/20x20" alt="" width="20" height="20">
                    </div>
                    <div class="info-companyDetails">
                        <div class="company-adress">
                            <p><strong>Mon ESN</strong></p>
                            <p><span>Levalois - Hauts de seine(92)</span> - Ile de France</p>
                        </div>
                        <p class="info-review"><span class="review color-blue">125 avis</span> - <span class="extract">"Très bonne agence, de plus elle est à votre écoute...</span></p>
                    </div>
                    <div class="item-fiveStars">
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-empty icon-star-empty"></i>
                    </div>
                    <div class="item-note">
                        <div class="note-btn background-red">6,8</div>
                        <p class="note-gain color-red">-1</p>
                    </div>
                </a>
            </li>
            <li class="topTen-item">
                <a class="item-info" href="#">
                    <div class="info-position">5</div>
                    <div class="info-companyLogo">
                        <img src="http://via.placeholder.com/20x20" alt="" width="20" height="20">
                    </div>
                    <div class="info-companyDetails">
                        <div class="company-adress">
                            <p><strong>Mon ESN</strong></p>
                            <p><span>Levalois - Hauts de seine(92)</span> - Ile de France</p>
                        </div>
                        <p class="info-review"><span class="review color-blue">125 avis</span> - <span class="extract">"Très bonne agence, de plus elle est à votre écoute...</span></p>
                    </div>
                    <div class="item-fiveStars">
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-yellow icon-star"></i>
                        <i class="star-empty icon-star-empty"></i>
                    </div>
                    <div class="item-note">
                        <div class="note-btn background-blue">6,8</div>
                        <p class="note-gain color-red"></p>
                    </div>
                </a>
            </li>
        </ol>
    </nav>
    
    <!--Slice btn more-->
    <div class="sliceBtnMore">
        <a class="btn btn-blue" href="toprance.html">Voir le classement top France</a>
    </div>
    <!--./Slice btn more-->

</section>
<!--./Slice ranking-->
