<!--Rankings-->
<div class="sliceRank background-grey">

    <div class="wrapper col-3">
        
        <div class="sliceRank-col">
            
            <!--Slice Heading-->
            <header class="sliceHeading no-subtitle">
                <h2 class="sliceHeading-title">
                    <i class="icon-circle"></i><strong>Top</strong> Villes
                </h2>
            </header>
            <!--./Slice Heading-->

            <div class="sliceRank-list col-2">
                <nav class="sliceRank-listbox mobile" aria-label="Selectionner une ville">
                    <ul class="sliceRank-listWrap" role="menubar">
                        <li role="menuitem" aria-haspopup="true"><a role="button">Selectionner une ville</a></li>
                        <ul class="sliceRank-subMenu" aria-hidden="true">
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Aix en provence</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Angers</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Bordeaux</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Brest</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Dijon</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Grenoble</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Le Havre</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Le Mans</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Lille</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Lyon</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Marseille</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Montpellier</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Nantes</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Nice</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Nimes</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Paris</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Reims</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Rennes</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Saint-Etienne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Strasbourg</a></li>
                        </ul>
                    </ul>
                </nav>    
                <ul class="sliceRank-listbox desktop">
                    <li class="sliceRank-link"><a href="#">Aix en provence</a></li>
                    <li class="sliceRank-link"><a href="#">Angers</a></li>
                    <li class="sliceRank-link"><a href="#">Bordeaux</a></li>
                    <li class="sliceRank-link"><a href="#">Brest</a></li>
                    <li class="sliceRank-link"><a href="#">Dijon</a></li>
                    <li class="sliceRank-link"><a href="#">Grenoble</a></li>
                    <li class="sliceRank-link"><a href="#">Le Havre</a></li>
                    <li class="sliceRank-link"><a href="#">Le Mans</a></li>
                    <li class="sliceRank-link"><a href="#">Lille</a></li>
                    <li class="sliceRank-link"><a href="#">Lyon</a></li>
                </ul>
                <ul class="sliceRank-listbox desktop">
                    <li class="sliceRank-link"><a href="#">Marseille</a></li>
                    <li class="sliceRank-link"><a href="#">Montpellier</a></li>
                    <li class="sliceRank-link"><a href="#">Nantes</a></li>
                    <li class="sliceRank-link"><a href="#">Nice</a></li>
                    <li class="sliceRank-link"><a href="#">Nimes</a></li>
                    <li class="sliceRank-link"><a href="#">Paris</a></li>
                    <li class="sliceRank-link"><a href="#">Reims</a></li>
                    <li class="sliceRank-link"><a href="#">Rennes</a></li>
                    <li class="sliceRank-link"><a href="#">Saint-Etienne</a></li>
                    <li class="sliceRank-link"><a href="#">Strasbourg</a></li>
                </ul>
            </div>
            
        </div>

        <div class="sliceRank-col">
            
            <!--Slice Heading-->
            <header class="sliceHeading no-subtitle">
                <h2 class="sliceHeading-title">
                    <i class="icon-circle"></i><strong>Top</strong> Départements
                </h2>
            </header>
            <!--./Slice Heading-->

            <div class="sliceRank-list col-2">  
                <nav class="sliceRank-listbox mobile" aria-label="Selectionner une ville">
                    <ul class="sliceRank-listWrap" role="menubar">
                        <li role="menuitem" aria-haspopup="true"><a role="button">Selectionner une ville</a></li>
                        <ul class="sliceRank-subMenu" aria-hidden="true">
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Paris</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Hauts de Seine</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Seine et Marne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Bouche du Rhone</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Seine Saint Denis</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Alpes Maritimes</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Val de Marne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Nord</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Var</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Herault</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Yvelines</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Rhone</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Gironde</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Bas Rhin</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Doubs</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Essonne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Val d'Oise</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Haute Garonne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Loire Atlantique</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Ille et Vilaine</a></li>
                        </ul>
                    </ul>
                </nav>    
                <ul class="sliceRank-listbox desktop">
                    <li class="sliceRank-link"><a href="#">Paris</a></li>
                    <li class="sliceRank-link"><a href="#">Hauts de Seine</a></li>
                    <li class="sliceRank-link"><a href="#">Seine et Marne</a></li>
                    <li class="sliceRank-link"><a href="#">Bouche du Rhone</a></li>
                    <li class="sliceRank-link"><a href="#">Seine Saint Denis</a></li>
                    <li class="sliceRank-link"><a href="#">Alpes Maritimes</a></li>
                    <li class="sliceRank-link"><a href="#">Val de Marne</a></li>
                    <li class="sliceRank-link"><a href="#">Nord</a></li>
                    <li class="sliceRank-link"><a href="#">Var</a></li>
                    <li class="sliceRank-link"><a href="#">Herault</a></li>
                </ul>
                <ul class="sliceRank-listbox desktop">
                    <li class="sliceRank-link"><a href="#">Yvelines</a></li>
                    <li class="sliceRank-link"><a href="#">Rhone</a></li>
                    <li class="sliceRank-link"><a href="#">Gironde</a></li>
                    <li class="sliceRank-link"><a href="#">Bas Rhin</a></li>
                    <li class="sliceRank-link"><a href="#">Doubs</a></li>
                    <li class="sliceRank-link"><a href="#">Essonne</a></li>
                    <li class="sliceRank-link"><a href="#">Val d'Oise</a></li>
                    <li class="sliceRank-link"><a href="#">Haute Garonne</a></li>
                    <li class="sliceRank-link"><a href="#">Loire Atlantique</a></li>
                    <li class="sliceRank-link"><a href="#">Ille et Vilaine</a></li>
                </ul>
            </div>
            
        </div>

        <div class="sliceRank-col">
            
            <!--Slice Heading-->
            <header class="sliceHeading no-subtitle">
                <h2 class="sliceHeading-title">
                    <i class="icon-circle"></i><strong>Top</strong> Régions
                </h2>
            </header>
            <!--./Slice Heading-->

            <div class="sliceRank-list col-2">  
                <nav class="sliceRank-listbox mobile" aria-label="Selectionner une ville">
                    <ul class="sliceRank-listWrap" role="menubar">
                        <li role="menuitem" aria-haspopup="true"><a role="button">Selectionner une ville</a></li>
                        <ul class="sliceRank-subMenu" aria-hidden="true">
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Ile de France</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">PACA</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Rhone Alpes</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Nord Pas de Calais</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Languedoc Roussillon</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Pays de la Loire</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Bretagne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Alsace</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Franche Comté</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Aquitaine</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Midi Pyrénées</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Centre</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Picardie</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Haute Normandie</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Lorraine</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Bourgogne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Basse Normandie</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Poitou Charente</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Champagne Ardenne</a></li>
                            <li role="menuitem" class="sliceRank-link" tabindex="0"><a href="#">Limousin</a></li>
                        </ul>
                    </ul>
                </nav>    
                <ul class="sliceRank-listbox desktop">
                    <li class="sliceRank-link"><a href="#">Ile de France</a></li>
                    <li class="sliceRank-link"><a href="#">PACA</a></li>
                    <li class="sliceRank-link"><a href="#">Rhone Alpes</a></li>
                    <li class="sliceRank-link"><a href="#">Nord Pas de Calais</a></li>
                    <li class="sliceRank-link"><a href="#">Languedoc Roussillon</a></li>
                    <li class="sliceRank-link"><a href="#">Pays de la Loire</a></li>
                    <li class="sliceRank-link"><a href="#">Bretagne</a></li>
                    <li class="sliceRank-link"><a href="#">Alsace</a></li>
                    <li class="sliceRank-link"><a href="#">Franche Comté</a></li>
                    <li class="sliceRank-link"><a href="#">Aquitaine</a></li>
                </ul>
                <ul class="sliceRank-listbox desktop">
                    <li class="sliceRank-link"><a href="#">Midi Pyrénées</a></li>
                    <li class="sliceRank-link"><a href="#">Centre</a></li>
                    <li class="sliceRank-link"><a href="#">Picardie</a></li>
                    <li class="sliceRank-link"><a href="#">Haute Normandie</a></li>
                    <li class="sliceRank-link"><a href="#">Lorraine</a></li>
                    <li class="sliceRank-link"><a href="#">Bourgogne</a></li>
                    <li class="sliceRank-link"><a href="#">Basse Normandie</a></li>
                    <li class="sliceRank-link"><a href="#">Poitou Charente</a></li>
                    <li class="sliceRank-link"><a href="#">Champagne Ardenne</a></li>
                    <li class="sliceRank-link"><a href="#">Limousin</a></li>
                </ul>
            </div>

        </div>

    </div> 

</div>
<!--./Rankings-->