<!--Slice reviews-->
<section class="sliceReviews">

    <!--Slice heading-->
    <header class="sliceHeading no-subtitle">            
        <h2 class="sliceHeading-title">
            <i class="icon-circle"></i><strong>Derniers</strong> avis déposés
        </h2>
    </header>
    <!--./Slice heading-->
    
    <div class="sliceReviews-list">
        <article class="sliceReviews-preview">
            <div><h2 class="preview-companyName">Nom agence ESN</h2><div class="note-btn background-blue">5,7</div></div>
            <div class="item-fiveStars">
                <i class="star-yellow icon-star"></i>
                <i class="star-yellow icon-star"></i>
                <i class="star-yellow icon-star"></i>
                <i class="star-yellow icon-star"></i>
                <i class="star-empty icon-star-empty"></i>
            </div>
            <div class="preview-user">
                <span class="user-firstname">Prénom</span><span class="user-lastname">Nom</span>
            </div>
            <p class="preview-text truncated-text">Entreprise jeune et agréable. Collaborateurs très sympathique (...)</p>
            <a class="readMore-btn color-blue" href="companyDetails.html">Lire la suite</a>
        </article>
        <article class="sliceReviews-preview">
            <div><h2 class="preview-companyName">Nom agence ESN</h2><div class="note-btn background-blue">5,7</div></div>
            <div class="item-fiveStars">
                <i class="star-yellow"></i>
                <i class="star-yellow"></i>
                <i class="star-yellow"></i>
                <i class="star-yellow"></i>
                <i class="star-empy"></i>
            </div>
            <div class="preview-user">
                <span class="user-firstname">Prénom</span><span class="user-lastname">Nom</span>
            </div>
            <p class="preview-text truncated-text">Entreprise jeune et agréable. Collaborateurs très sympathique (...)</p>
            <a class="readMore-btn color-blue" href="companyDetails.html">Lire la suite</a>
        </article>
        <article class="sliceReviews-preview">
            <div><h2 class="preview-companyName">Nom agence ESN</h2><div class="note-btn background-blue">5,7</div></div>
            <div class="item-fiveStars">
                <i class="star-yellow"></i>
                <i class="star-yellow"></i>
                <i class="star-yellow"></i>
                <i class="star-yellow"></i>
                <i class="star-empy"></i>
            </div>
            <div class="preview-user">
                <span class="user-firstname">Prénom</span><span class="user-lastname">Nom</span>
            </div>
            <p class="preview-text truncated-text">Entreprise jeune et agréable. Collaborateurs très sympathique (...)</p>
            <a class="readMore-btn color-blue" href="companyDetails.html">Lire la suite</a>
        </article>
    </div>

</section>
<!--./Slice reviews-->
