button {
	background: none;
	border: none;
}

.btn {
	padding: 1em 1.5em;
	width: 100%;
	border: 2px solid $blue;
	border-radius: 8px;
	text-transform: uppercase;
	text-align: center;
	transition: all 0.2s ease-in;

	&:hover {font-weight: $font-bold;}
	&:focus {outline: $jade auto 5px;}
	&-blue {
		color: $white;
		background-color: $blue;
		&:hover {color: $white;}
	}
	&-rounded {border-radius: 2em;}
	&-close {
		display: flex;
		padding: 0.2em 0;
		width: 33px;
		height: 33px;
		color: $black;
		border: 2px solid $grey-border;
		border-radius: 50%;
		cursor: pointer;
		i {
			font-size: $font-20;
			color: $black;
		}
		&:hover {border-color: $black;}

		.form-panel &, 
		.popIn & {
			display: block;
			position: absolute;
			top: 0.5em;
			right: 0.5em;

			@media screen and (min-width: $medium) {
				top: 1em;
				right: 1em;
			}
		}
	}
	&-white {
		border: 1px solid $input-border;
		color: $blue;
		&:hover { border-color: $blue;}
	}
	&-turquoise {
		border: 1px solid $turquoise;
		color: $white;
		background-color: $turquoise;
		&:hover {color: $turquoise;}
	}
}

.readMore-btn {
	&:hover { text-decoration: underline;}
}