input, select, textarea {
	width: 100%;
	height: 33px;
	line-height: 1.5;
	border: 1px solid $input-border;
	padding: 0.25em;
	&:focus, &:active {
		border-color: $blue;
	}
}
textarea {
	height: auto;
	min-height: 30vw;
	min-width: 100%;
	max-width: 100%;

	@media screen and (min-width: $medium) { min-height: 15em;}
	@media screen and (min-width: $large) { min-height: 10em;}
}
label {
	margin-bottom: 0.5em; 
}
legend {
	margin: 0;
}
fieldset {
	border: none;
}

input {
	&[type="file"] {
		border: none;
		width: 100%;
		height: 100%;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: pointer;

		+ .form-label, + label {
			font-weight: $font-normal;
			width: calc(100% - 120px);

			.form-fileBtn {
				cursor: pointer;
				display: flex;
			}
		}
	}
	&[type="checkbox"],
	&[type="radio"] {
		height: auto;
	}
}

.form {
	&-panel {
		@extend .panel;
		position: relative;

		&Header {
			@extend .panel-header;
		}

		.btn-close {
			padding: 0.1em 0;
			i {
				color: $black;
				font-size: $font-20;
			}
		}
	}
	&-group {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.25em;

		&-inline {
			flex-flow: row nowrap;
			justify-content: space-between;

			@media screen and (max-width: 639px) {
				flex-direction: column;
				align-items: center;
				.btn { margin: 0.5em 0;}
			}

			> .form-group {
				width: 100%;

				@media screen and (min-width: 640px) {
					width: 48%;
				}
			}
		}
		&-inputFile {
			padding: 0;
			.form-box-dashed {
				position: relative;
				display: flex;
				justify-content: center;
				margin-top: 0.5em;
				padding: 10px;
				border: 1px dashed $grey-border;
			}
			.form-label {
				font-size: $font-14;
				text-align: center;
			}
			.btn {
				max-width: 141px;
				padding: 1em;
				margin: 1em auto 0;
				font-size: $font-12;
				text-transform: lowercase; 
				color: $white;
			}

		}

		&.has-error {
			select, input, textarea, .form-box-dashed { border-color: $red;}
			.form-error { display: block;}
			i {
				color: $red;
				&:before {content: '\e808';}
			}
		}
		&.is-valid {
			i {color: $green;}
		}
	}
	&-btn {
		@extend .btn;
		cursor: pointer;
		max-width: 194px;
		font-size: $font-12;
		&.btn-blue {
			color: $white;
			//&:hover { color: $blue;}
		}
	}
	&-error {
		//display: none;
		font-size: $font-12;
		color: $red;
		margin-top: 4px; 

	}
	&-label, &-legend {
		font-family: $font2;
		font-weight: $font-bold;
		color: $black-text;
		i {color: $grey-border;}
	}
	&-captcha {margin-top: 1em;}
	&-rating {@extend .item-fiveStars;}
	&-info {
		font-style: italic;
		font-size: $font-14;
		line-height: 1.5;
	}
	&-box {
		&-inline {
			display: flex;
			justify-content: space-between;
			position: relative;
		}
	}
	&-radio {
		&-btn {
			position: relative;
			margin-top: 0.5em;
			overflow: hidden;

			label {
				position: relative;
				display: inline-block;
				padding: 1em 2em;
				margin: 0.5em;
				color: $white;
				border-radius: 8px;
				background-color: $grey-radio;
				box-shadow: 0 2px 1px rgba(#29225c, 0.75);
				transition: all 0.2s ease-in;
				user-select: none;
				font-size: $font-14;
				text-align: center;
				cursor: pointer;

				&:hover {background-color: $blue;}
			}
			input {
				opacity: 0;
				position: absolute;

				&:checked {
					+ label {background-color: $blue;}
				}
			}
			&.rounded {
				label {border-radius: 2.5em;}
			}
		}
	}
	&-rating {
		flex-direction: row-reverse;
		overflow: hidden;

		label {
			position: relative;
			display: inline-block;
			padding: 0;
			margin: 0.1em;
			cursor: pointer;
			&:before {
				font-family: "topfonts";
				content: '\e803';
				display: block;
				color: $yellow;
			}
		}

		input {
			opacity: 0;

			&:checked {
				~ label {
					&:before {
						content: '\e804';
					}
				}
			}
		}
	}
	&-checkbox{
	 	margin-top: 0.5em;
	 	position: relative;
	 	overflow: hidden;
	    
		label{
			position: relative;
			display: inline-block;
			padding: 1em 2em;
			margin: 0.5em;
			color: $white;
			border-radius: 8px;
			background-color: $grey-radio;
			box-shadow: 0 2px 1px rgba(#29225c, 0.75);
			transition: all 0.2s ease-in;
			user-select: none;
			font-size: $font-14;
			text-align: center;
			cursor: pointer;

			&:hover {background-color: $blue;}
		}
		input {
			opacity: 0;
			position: absolute;

			&:checked {
				+ label {background-color: $blue;}
			}
		}
	}
}
