.graph {
	&-line{

		.line {
			fill: none;
			//stroke: #EF5285;
			stroke-width: 1.5;
		}
	}
	&-bar, &-line {

		.tick, .domain {
			stroke: $grey-border;

		}

	}
	&-chloropeth {
		max-width: 750px;
	}
}
.tooltip {
	position: absolute;
	padding: 1em;
	border-radius: 6px;
	background: $white;
	border: 1px solid $input-border;
	box-shadow: 2px 2px 4px 1px rgba($black, 0.25);
	&::before {
		@include css-triangle($white, left, $size: 6px);
		left: 0;
		top: calc( 50% - 6px );
	}

}

text {
	stroke: none;
	fill: $grey-border;
}

polyline {
	opacity: .3;
	fill: none;
	stroke: $black;
	stroke-width: 1px;
}

.hoverlayer {

	.hovertext {

		tspan {
			font-weight: $font-bold;
			font-family: $font2;
			font-size: $font-12;
			fill: $grey-border;
			dx: 20;

			&:first-child {
				font-family: $fontDefault;
			}
			&:nth-child(2) {	
				fill: $black;
				font-size: $font-16;	
			}
			&:nth-child(3) {
				opacity: 0;
			}
		}
	}
}

[data-graph-type="line"] {

}

[data-graph-type="doughnut"] {

}

[data-graph-type="bar"] {
	.hoverlayer {
		.hovertext {
			text {
				font-weight: $font-bold;
			}
		}
	}
}
