.panel {
	background-color: $white;
	padding: $paddingValue;
	border-radius: 8px;
	width: 100%;
	box-shadow: 0 0 21px 4px rgba($panel-shadow, 0.4);

	&-header {
		text-align: center;
		padding: 1.25em 0 1.5625em;

		p {
			margin-top: 20px;
			color: $black-text;
			font-style: initial;
		}
	}

	&-main {padding: 1.5625em 0 1.25em;}
	&-footer {padding: 1.25em 0;}
}