table {
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin: 1em auto;

	td, th {
		padding: 0.75rem;
		border-bottom: 1px solid $grey-border;
	}
	thead {
		font-size: $font-14;
		th {
			border-bottom-width: 2px;
			text-align: left;
		}
	}

	&.table-responsive {

		@media screen and (max-width: 767px) {
			.mobile-hide {display: none;}
		}
	}
}