.popIn {
	background-color: rgba($black, 0.75);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	width: 100%;
	height: auto;
	display: none;
	align-items: flex-start;
	justify-content: center;

	&-panel {
		@extend .panel;
		max-width: 480px;
		position: relative;
		margin: 1em;

		@media screen and (min-width: $medium) {
			width: 50%;
		}
	}
	&-open {
		display: flex;
		overflow-y: scroll;
	}
	> form {
		position: absolute;
		top: 2vh;
		opacity: 0;
	}
}