.sliceCompanyCard {
	padding: 1.5em 0;
	position: relative;

	& + .sliceBtnMore {
		margin-top: 0;
	}

	.pill {
		@extend %noteBtn;
	}

	&-panel {
		@extend .panel;
		border-radius: 0;
		box-shadow: none;
		border: 1px solid $grey-border;
		margin-top: 8em;

		@media screen and (min-width: $medium) and (max-width: 1199px) {
			margin-top: 10em;
		}
	}

	&-heading {
		@extend .panel-header;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		@media screen and (min-width: 520px) and (max-width: 767px) {
			flex-direction: row;
		}
	}
	&-main {
		@extend .panel-main;
		li {margin: 1.25em 0;}
		b {font-family: $font2;}
	}
	.item {
		&-rating {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 0.5em;
			padding: 0 1em;
			width: 100%;

			@media screen and (min-width: 520px) and (max-width: 767px) {
				margin: 0;
			}
			@media screen and (min-width: $medium) {
				padding: 0;
			}
			@media screen and (min-width: $large) {
				padding: 0 15%;
			}
		}
		&-review {font-size: $font-14;}
	}

	.company {

		&-adress {
			b {
				display: flex;
				margin: 0.25em 0;
			}
		}
		&-website {
			a {
				font-size: $font-14;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	
	@media screen and (min-width: $medium) {

		.sliceBtnMore {
			justify-content: flex-start;

			.btn {
				max-width: 100%;
			}
		}
	}
}