.sliceRank {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	
	.col-3 {
		display: grid;
		grid-template-columns: 100%;
	}

	.sliceHeading {padding: 10px 0;}
	&-list {padding: 10px 0 15px;}
	&-listbox {
		&.desktop {display: none;}
		&.mobile {

			a {
				color: $black;
			}
		}
	}
	&-subMenu {
		display: none;
		flex-direction: column;
		width: 100%;
		position: absolute;
		top: 2.5em;
		border: 1px solid $grey-border;
		border-radius: 0.25em;
		left: 0;
		padding: 0.5em 1em;
		opacity: 0;
		background: $white;
		transition: opacity 0.2s ease-in;
		z-index: -1;
		a {
			padding: 0.35em;
			display: flex;
			cursor: pointer;
		}
	}
	.open-submenu {
		display: flex;
		cursor: pointer;
	}
	&-listWrap {
		position: relative;
		background-color: $white;
		border-radius: 2em;
		padding: 0.5em 0;
		> li {
			position: relative;
			padding: 0 1em;
			&:after {
				font-family: "topfonts";				
				content: '\e807';
				display: block;
				position: absolute; 
				right: 1em;
				top: 0;
			}
			a {display: flex;}
		}
		&.js-openMenu {

			.sliceRank-subMenu {
				opacity: 1;
				z-index: 2;
				display: flex;
			}
		}
	}

	@media screen and (min-width: $medium) {
		.col-3 {
			grid-template-columns: 33% 33% 33%;
			grid-column-gap: 0.33%;
			column-gap: 0.33%;		
		}
		&-listbox {
			&.desktop {
				display: block;

				a {
					display: flex;
					color: $black-text;
					font-size: $font-14;
					padding: 5px 0;
				}
				li {
					&:hover a {
						color: $turquoise;
						font-weight: $font-bold;
					}
				}
			}
			&.mobile {display: none;}
		}
	}

	@media screen and (min-width: $large) {
		&-list {
			&.col-2 {
				display: grid;
				grid-template-columns: 50% 50%;
			}
		}
	}
}