.sliceContact {
	margin: 1em auto 1.5em;

	@media screen and (min-width: $large) {
		margin-bottom: 45px;
	}

	.col-2 {
		display: flex;
		flex-direction: column;
		margin-top: 1em;

		@media screen and (min-width: $medium) {
			flex-direction: row;
			.rightCol {
				width: 75%;
				padding-left: 8%;
			}
			.leftCol {
				width: 25%;
			}
		}
	}

	&-infos {
		a {
			color: $blue;
			&:hover {text-decoration: underline;}
		}
		ul {
			margin: 1.15em 0;
			li {line-height: 1.5;}
			+ ul { margin-top: 25px;}
		}
		h3 {
			font-family: $font2;
			font-size: $font-16;
			text-transform: uppercase;
			margin: 0.75em 0;
		}
		address {
			line-height: 1.5;
		}
	}
	&-form {
		margin-top: 1em;

		.form-group {
			&:last-of-type {align-items: flex-start;}
		}
		.btn {
			margin-top: 1em;
			max-width: 100%;

			@media screen and (min-width: $medium) {
				max-width: 21.875rem;
			}

		}
	}
}