.sliceFootLinks {
	margin-top: 35px;
	text-align: center;

	a {
		font-size: $font-12;
		display: block;
		padding: 10px 15px;
	}

	.simple {
		&-list {
			max-width: 160px;
			margin: auto;
		}
		&-link {
			&:first-child a{
				text-decoration: underline;
			}
			&:last-child a{
				color: #817f98;
			}
		}
	}
}