.sliceFooter {
	grid-area: footer;
	background-color: $brown;
	margin-top: -30px;
	padding: 0.625em 0;

	.body-nogap & {
		margin-top: 0;
	}

	li {
		&:hover, 
		&.active-page {
			a {color: $turquoise;}
		}
	}

	&-leftCol {
		ul {
			padding: 1.25em 0 1em;
			display: grid;
			grid-template-areas: "logo logo"
								 "adress tel"
								 "adress email";
			grid-template-columns: 50% 50%;
			grid-template-rows: 100px;

			li {
				padding: 0.5em 0;
				font-size: $font-14;
				&:first-child {
					grid-area: logo;
					text-align: center;
				}
				&:nth-child(2) {grid-area: adress;}
				&:nth-child(3) {
					grid-area: tel;
					text-align: right;
				}
				&:nth-child(4) {
					grid-area: email;
					text-align: right;
				}
			}
		}
		.link-email {
			color: $jade;
			text-decoration: underline;
		}
	}
	&-rightCol {
		ul {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			margin-bottom: 1.5625em;
		}
		a {
			display: flex;
			padding: 0.625em;
		}
	}
	&-bottomRow {
		font-size: $font-10;
		color: $white;
		p {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;

			span {padding: 6px 0;}
		}
	}

	@media screen and (min-width: $medium) {
		.wrapper {
			display: flex;
			flex-flow: row wrap;
		}
		&-leftCol {
			flex-grow: 2;
			padding-right: 75px;
			margin: 1.25em 0.625em;
			border-right: 1px solid $white;

			ul li:first-child {text-align: left;}
		}
		&-rightCol {
			margin: 1.25em 0.625em;
			padding-left: 35px;
			ul {align-items: flex-start;}
			a {font-size: $font-16;}
		}
		&-bottomRow {
			flex-grow: 4;
			p {
				display: block;
				span:last-child {
					padding: 0;
					float: right;	
				}
			}
		}
	}

	@media screen and (min-width: $large) {
		&-leftCol {
			flex-grow: 1;
			flex-basis: 30%;
			border: none;
			padding-right: 5px;
		}
		&-rightCol {
			flex-grow: 1;
			flex-basis: 65%;
			padding-left: 0;
			li {
				&:not(:last-child) {
					a:after {
						content: '-';
						display: block;	
						position: relative;
						left: 5px;				
					}
				}
				&:hover {
					a:after {color: $white;}
				}
			}
			a {
				font-size: $font-14;
				padding: 0.625em 5px;
			}
			ul {
				flex-flow: row nowrap;
				justify-content: flex-end;
			}
		}
		&-bottomRow {
			flex-basis: 100%;
			flex-grow: 1;
		}
	}
}