.sliceHeader {
	grid-area: header;
	background-color: $purple;
	color: $white;
	position: relative;

	&-navbar {
		@extend .wrapper;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		padding: 20px 15px;
		margin: auto;

		> ul {
			position: absolute;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			background-color: $purple;
			width: 100vw;
			height: 100vh;
			top: 100%;
			left: 0;
			padding-top: 40px;
			z-index: 999;
			transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

			.search {display: none;}
			&.js-hide {transform: translate3d(-100%, 0, 0)}
			&.js-show {transform: translate3d(0, 0, 0);}
		}
	}

	&-noMenu {

		.navbar-brand {justify-content: center;}
	}

	.navbar {

		&-item {
			margin: 5px 0;
			font-family: $font2;
			a {
				display: flex;
				padding: 1em 1.5em;
			}
		}

		&-burger {
			background: none;
			border: none;
			flex-grow: 1;
			height: 42px;

			&.js-open {

				.burger-bar {
					&:first-of-type { transform: translate3d(0,2px,0); }
					&:nth-child(3) { transform: translate3d(0,-2px,0); }
				}
			}
		}

		&-brand {
			display: flex;
			flex-grow: 2;
			justify-content: center;
		}

		&-search {
			display: flex;
			flex-grow: 1;
			justify-content: flex-end;
			i {font-size: $font-20;}
		}
	}

	.search {
		color: $white;
		button {cursor: pointer;}
	}

	.burger-bar {
		display: flex;
		background-color: $white;
		width: 30px;
		height: 2px;
		transition: transform 0.4s cubic-bezier(0.77,0.2,0.05,1.0);

		&:first-of-type {transform: translate3d(0, -8px, 0);}
		&:nth-child(2) {transform: translate3d(0, 0, 0)}
		&:nth-child(3) {transform: translate3d(0, 8px, 0);}
	}

	.brand-link {display: flex;}

	@media screen and (min-width: $large) {
		.navbar {
			&-burger, &-search {display: none;}
			&-brand {
				flex-grow: 1;
				justify-content: flex-start;
			}
			&-item {
				display: flex;
				height: 100%;
				align-items: center;
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					&.btn {height: 44px;}
				}

				&:hover, &.active-page {
					background-color: rgba($white, 0.25);
					border-bottom: 4px solid $blue;
					a {color: currentColor;}
				}
				&:last-child {
					a {font-size: $font-12;}
					&:hover {
						background: none;
						border: none;
					}
				}
			}
		}
		&-navbar {
			padding: 0 1em;
			height: 104px;

			> ul {
				position: relative;
				top: 0;
				width: auto;
				height: 100%;
				padding: 0;
				flex-flow: row nowrap;
				z-index: 1;
				
				&.js-hide {
					display: flex;
					transform: translate3d(0,0,0);
				}
				.search {
					display: flex;
					i {color: $white;}
				}
			}			
		}
		&-noMenu {
			.navbar-brand {justify-content: center;}
		}
	}
	&.user-logged {
		.navbar{
			&-item {
				&:first-of-type {
					margin-right: 2em;
				}
				&:hover {
					background: initial;
					border: 0;
				}
			}
		}
	}
}