.sliceOffGridCard {
	padding: 1em;
	margin: 0 0 2em;
	color: $purple;
	position: absolute;
	top: -15%;
	width: 100%;

	&-head {
		display: flex;
		align-items: center;
		justify-content: space-between;	

		@media screen and (min-width: $medium) and (max-width: $large) {
			flex-direction: column;
			align-items: flex-start;

			h2 {
				margin: 0.15em 0;
			}
		}	
	}
	&-rank {
		color: $white;
		font-weight: $font-bold;
			font-size: $font-44;

		&.big-value {
			font-size: $font-32;
		}

		@media screen and (min-width: 992px) {
			font-size: calculateSize(60px);
			&.big-values {
				font-size: $font-44;
			}
		}
	}

	&-list {
		li {font-size: $font-14;}
	}

	.sliceBtnMore {
		margin: 1em 0 0.25em;

		.btn-blue:hover {color: $white;}
	}
}