.sliceHeading {
	color: $purple;

	strong, 
	b {
		font-weight: $font-bold;
	}
	&-title {
		font-family: $font2;
		font-size: $font-20;
		font-weight: $font-normal;
		margin: 0.25em 0;

		.with-select & {
			display: flex;
			align-items: center;
		}

		.popIn & {
			text-align: left;
		}

		i {
			color: $turquoise;
			font-size: $font-16;
		}
	}
	&-subtitle {
		font-style: italic;
		font-size: $font-14;
		padding-left: 20px;
		margin: 0.25em 0;
	}
	&-min {
		font-size: $font-16;
	}
	
	&.with-select {

		b {flex-grow: 2;}

		select {
			color: $blue;
			font-family: $fontDefault;
			font-size: $font-14;
			border: none;
			align-self: flex-end;

			@media screen and (min-width: $medium) {
				width: auto;
			}
		}
	}

	@media screen and (min-width: $medium) {
		font-size: $font-24;
	}
}