.sliceJoinUs {

	.card {

		&-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			color: $purple;
			padding: 27px 15px;
			margin: 25px 0;
			position: relative;
			z-index: 2;
			&:before, &:after {
				content: '';
				display: flex;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				transform: translate3d(0, 0, 0);
				transition: all 0.2s ease-in;
			}
			&:before {
				background: repeating-linear-gradient(135deg, $white, $white 6px, $black 7px);
			}
			&:after {background: $turquoise;}
			&:hover, &:focus {
				color: $white;
				&:before, &:after, .card-number {transition: all 0.2s ease-out;}
				&:before {transform: translate3d(10px, 10px, 0);}
				&:after {background: $purple;}
				.card-number {background-color: $turquoise;}
			}
			@media screen and (min-width: $medium) {
				width: 210px;
				.card-text {text-align: center;}
			}
			@media screen and (min-width: $large) {
				width: 290px;
			}
			@media screen and (min-width: $xtra-large) {
				width: 354px;
			}

		}
		&-number {
			width: 56px;
			height: 56px;
			display: flex;
			align-items: center;
			justify-content: center; 
			background-color: $purple;
			color: $white;
			margin: 0 30px 0 10px;
			transition: all 0.3s ease-in;
			&-round {
				border-radius: 50%;
				border: 4px solid $white;
			}
		}
		&-text {
			font-family: $font2;
			font-size: $font-14;
			display: flex;
			max-width: calc(100% - 100px);

		}
	}

	@media screen and (min-width: $medium) {
		padding: 35px 0;

		.sliceHeading {
			text-align: center;
			margin-bottom: 25px;
		}

		&-cards {
			display: flex;
			justify-content: space-between;
		}

		.card {
			&-number {margin: 0 0 15px;}
			&-text { max-width: 100%;}
			&-item {
				flex-flow: column wrap;
				justify-content: flex-start;
				padding: 15px;
			}
		}
	}
}